
@font-face {
  font-family: "Circular Std";
  src: url("./assets/fonts/circular-std-font-family/CircularStd-Medium.eot");
  src: url("./assets/fonts/circular-std-font-family/CircularStd-Medium.eot?#iefix") format("embedded-opentype"),
  url("./assets/fonts/circular-std-font-family/CircularStd-Medium.woff") format("woff"),
  url("./assets/fonts/circular-std-font-family/CircularStd-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
$menuWidth : 48px;
$footerElementsHeight: 200px;
$menuOutsideMargins : 100px;
$menuMediaMargin: 25px;
$buttonTransition: background-color 1s;
$gray: #939393;
$primaryOrange: #FB8958;
$complementaryGreen: #46B8C8;
$anotherBlack: #3D4F5C;
$secondaryYellow: #FFC351;
$fontFamily:  Circular Std, sans-serif;
%footer-fonts {
  font-family:$fontFamily;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.main_menu{
  display: flex;
  margin-top: 20px;
  justify-content: space-between;

  @media screen and (max-width: 431px) {
    margin-left: 5px;
  }
  .logo{
    width: 200px;
    margin-inline-start: $menuOutsideMargins;
    cursor: pointer;
    height: $menuWidth;
    @media screen and (max-width: 431px) {
      width: 70px;
      margin-inline-start: 0;
    }

  }
  &_flex{
    display: flex;
    margin-inline-end: $menuOutsideMargins;
    @media screen and (max-width: 431px) {
      margin-inline-end: 0;
    }
    .menu_startups, .menu_contact{
      font-family: $fontFamily;
      font-size: 18px;
      cursor: pointer;
      font-weight: 400;
      line-height: $menuWidth;
      letter-spacing: -0.01em;
      text-align: left;
      margin-inline: 20px;
    }
    .menu_button{
      font-family:$fontFamily;
      font-size: 18px;
      cursor: pointer;
      font-weight: 500;
      line-height: $menuWidth;
      letter-spacing: 0em;
      text-align: center;
      color: #46B8C8;
      transition: $buttonTransition;
      width: 185px;
      height: 45px;
      border-radius: 32.5px;
      border: 1px solid #46B8C8;

      @media screen and (max-width: 431px) {
        width: 134px;
      }
    }
    .menu_button:hover{
      background-color:$complementaryGreen ;
      color:#fff;
    }
  }

}
.we_create{
  height: 507px;
  margin-block-start: 200px;
  background-image: url("../public/background-image-x3.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  padding-left: 100px;

  @media screen and (max-width: 431px) {
    text-align: -webkit-center;
    padding-left:$menuMediaMargin;
  }

  &__title{
    max-width: 170px;
    font-family: $fontFamily;
    font-size: 85px;
    font-weight: 700;
    line-height: 85px;
    letter-spacing: -0.02em;
    text-align: left;

    @media screen and (max-width: 431px) {
      max-width: 100%;
      font-size: 65px;
    }
  }
  &__description{
    margin-block: 25px;
    max-width: 50%;
    font-family: $fontFamily;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.01em;
    text-align: left;
    color: $primaryOrange;

    @media screen and (max-width: 431px) {
      max-width: 100%;
      font-size: 19px;
      color: #753f28;
    }
  }

  &__button{
    font-family: $fontFamily;
    font-size: 18px;
    font-weight: 500;
    line-height: 45px;
    color: #fff;
    transition: $buttonTransition;
    cursor: pointer;
    letter-spacing: -0.01em;
    text-align: center;
    width: 157px;
    height: 45px;
    border-radius: 32.5px;
  }
  &__button:hover{
    background-color:$complementaryGreen;
    color:#fff;
  }
}

.who_we_are, .who_we_are-modified{
  padding-top: 150px;
  background: no-repeat right  #FBFAFA url("../public/question.svg");
  background-position-x: 90%;
  background-position-y: 25%;
  &__title{
    padding-left: $menuOutsideMargins;
    height: 60px;
    font-family: $fontFamily;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -0.02em;
    text-align: left;
    @media screen and (max-width: 431px) {
      padding-left: $menuMediaMargin;
    }
  }
  &__description{
    padding-left: $menuOutsideMargins;
    margin-top: 50px;
    max-width: 875px;
    height: 60px;
    font-family: $fontFamily;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.01em;
    text-align: left;
    color: $primaryOrange;
    @media screen and (max-width: 431px) {
      padding-left: $menuMediaMargin;
    }
  }
  &__container{
    padding-left: $menuOutsideMargins;
    display: flex;
    margin-top: 150px;

    @media screen and (max-width: 431px) {
      padding-left: $menuMediaMargin;
      flex-direction: column;
      margin-top: 120px;
    }
  }
  &__reason{
    min-width: 115px;
    min-height: 400px;

    @media screen and (max-width: 431px) {
      max-width: 390px;
      font-size: 19px;
      min-width: 200px;
      min-height: 200px;
    }
    &__number{
      width: 50px;
      white-space: nowrap;
      padding-bottom: 20px;
      margin-bottom: 30px;
      font-family: $fontFamily;
      font-size: 30px;
      font-weight: 700;
      line-height: 30px;
      letter-spacing: -0.01em;
      text-align: left;
      color: $primaryOrange;
      border-bottom: 1px solid #3D4F5C;
    }
    &__description{
      font-family: $fontFamily;
      font-size: 30px;
      font-weight: 400;
      line-height: 38px;
      letter-spacing: -0.01em;
      text-align: left;
      @media screen and (max-width: 431px){
        max-width: 400px;
        font-size: 25px;
      }
    }
  }
}

.solving_container, .about_startups_container{
  display: flex;
  justify-content: center;
  height: 400px;
  padding-block:50px ;
  &__about{
    display: flex;
    justify-content: center;
    align-items: center;
    &__like{
      width: 66px;
      height: 59px;
    }
    &__description{
      height: 50px;
      color: $primaryOrange;
      font-family: $fontFamily;
      font-size: 40px;
      font-weight: 700;
      line-height: 50px;
      letter-spacing: -0.01em;
      text-align: center;
      @media screen and (max-width: 431px) {
        font-size: 30px;
      }
    }
    &__revert_like{
      width: 66px;
      height: 59px;
      transform: scale(-1,1);
    }
  }
  &__banner{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    &__flex{
      display: flex;
      width: 100%;
      opacity: 0.9;
      transition: opacity 1s;
      justify-content: space-between;
    }
    &__message{
      width: 260px;
      height: 55px;
      color: #fff;
      padding: 13px;
      background-color:$complementaryGreen;
      font-family: Roboto, $fontFamily;
      font-size: 14px;
      font-weight: 500;
      line-height: 14px;
      letter-spacing: 0em;
      text-align: left;
      border-radius: 25px 25px 0px 25px ;
    }
    &__cancel{
      color:#939393;
      cursor: pointer;
      opacity: 1;
      transition: opacity 1s;
      font-family: Roboto,$fontFamily;
      font-size: 25px;
      font-weight: 500;
      line-height: 14px;
      letter-spacing: 0em;
      text-align: left;

    }
    &__image{
      background-color: #F5F5F5;
      border: 10px solid #fff;
      border-radius: 30px ;
      cursor: pointer;
      box-shadow: 0px 6px 10px -3px #3D4F5C;
      width: 64px;
      height: 58px;
    }
  }
}
.who_we_are-modified{
  background: no-repeat right  #FBFAFA url("../public/light.svg");
  background-position-x: 90%;
  background-position-y: 25%;
}

.our_works{

  &__title{
    font-family:$fontFamily;
    margin: 150px 0 50px 0;
    font-size: 50px;
    color: $anotherBlack;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: -0.01em;
    text-align: center;
  }
  &__plates{
    display: flex;
    flex-wrap: wrap;
    padding-left:$menuOutsideMargins ;

    @media screen and (max-width: 431px) {
      padding-left: $menuMediaMargin;
    }
  }
}
.about_startups_container__about__description {
  max-width: 70%;
  height: 150px;
}
.hiring_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 550px;
  background: url(../public/images/hiring_background_left.png) repeat-y 0 50%, url(../public/images/hiring_background_right.png) repeat-y 100% 50%;
  background-size: 320px 290px;
  background-repeat: no-repeat;
  &__title{
    font-family:$fontFamily;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: -0.01em;
    text-align: center;
  }
  &__description{
    max-width: 60%;
    font-family:$fontFamily;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    color:$primaryOrange;
    letter-spacing: -0.01em;
    text-align: center;
    @media screen and (max-width: 431px) {
      color: #753f28;
    }
  }
  &__button{
    cursor: pointer;
    margin: 0 auto;
    font-family: $fontFamily;
    font-size: 18px;
    font-weight: 500;
    line-height: 45px;
    color:$complementaryGreen;
    border: 1px solid $complementaryGreen;
    transition: $buttonTransition;
    letter-spacing: -0.01em;
    text-align: center;
    width: 250px;
    height: 45px;
    border-radius: 32.5px
  }
  &__button:hover{
    background-color:$complementaryGreen ;
    color:#fff;
  }
}

.send_message_container{
  padding-left:$menuOutsideMargins ;
  padding-bottom: 20px;
  color: #fff;
  background: #FFC351 url(../public/images/rocket.png) repeat-y 100% 100%;
  background-size: 660px 550px;
  background-repeat: no-repeat;

  @media screen and (max-width: 431px) {
    padding-left: $menuMediaMargin;
  }
  &__title{
    padding-top: 50px;
    max-width: 677px;
    font-family:$fontFamily;
    font-size: 60px;
    font-weight: 700;
    line-height: 55px;
    letter-spacing: -0.02em;
    text-align: left;
  }
  &__description{
    margin-block: 50px;
    font-family: Roboto,$fontFamily;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.01em;
    text-align: left;
  }
  &__form{
    padding-block: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: normal;
    padding-inline: 50px;
    width: 500px;
    height: 600px;
    border-radius: 10px;
    background-color:#f3f3f3;
  @media screen and (max-width: 431px) {
    max-width: 94%;
    height: 500px;
    padding-inline: 20px ;

  }
    &__name, &__email{
      padding: 15px;
      height: 55px;
      border: 1px solid #fff;
      border-radius: 10px;
      @media screen and (max-width: 431px) {
        padding: 0px;
        height: 40px;
      }
    }
    &__message{
      padding: 15px;
      height: 270px;
      border: 1px solid #fff;
      border-radius: 10px;
  @media screen and (max-width: 431px) {
    height: 200px;
  }
    }
    &__button{
      cursor: pointer;
      border-radius: 25px;
      width: 243px;
      height: 45px;
      line-height: 45px;
      border: 1px solid $anotherBlack;
      color: $anotherBlack;
      transition: $buttonTransition;
      font-family:$fontFamily;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 0em;
      text-align: center;
    }
    &__button:hover{
      background-color:$anotherBlack;
      color: #fff;
    }
  }
}
.footer{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 400px;
  @media screen and (max-width: 431px){
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 1000px;
  }
  &__logo, &__companies, &__contact,&__follow{
    height: $footerElementsHeight;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media screen and (max-width: 431px){
      text-align: center;
      margin-block: 25px;
    }
    &__copyright{
      @extend %footer-fonts;
      color:$gray;
    }
  }
  &__companies{
    @extend %footer-fonts;
    color:$complementaryGreen;
    &__title{
      color: #000000;
    }
    &__company{
      cursor: pointer;
    }
  }
  &__contact{
    @extend %footer-fonts;
    &__description{
      max-width: 300px;
      color:$gray ;
      text-align: left;
      @media screen and (max-width: 431px){
        text-align: center;
        max-width: 430px;
      }
    }
    &__send-message{
      color:$complementaryGreen ;
      text-decoration: none;
    }
  }
  &__follow{
    @extend %footer-fonts;
    align-items: flex-start;
    li{
      cursor: pointer;
      margin-block: 10px;
    }
    svg{
      color:$complementaryGreen ;
    }
  }
}
